ul{
    list-style:none;
    margin: 0;
    padding: 0;
}
li a{
    display: block;
    width: 200px;
    color: #fff;
    text-decoration: none;
    background-color:aqua;
    font-size: 2rem;
}
li a:hover{
    background-color:antiquewhite;
    color:black;
}