*{
    margin: 0;
    padding: 0;
    font-size:1.2rem;
    font-family: Roboto;
 
}
:root{
    --menu:rgb(63, 62, 62);
    --header:rgb(253, 214, 214);
    --headeryazi:rgb(20, 20, 20);
    --footer:rgb(83, 83, 83);
    --yazi:rgb(223, 223, 223);
    
}

.menu{
    background-color:var(--menu);
    color: var(--yazi);
     
     
}
.menu .menu-ust {
    display:flex;
   justify-content: space-between;
}

.menu ul {
    display:flex;
    gap:1rem;
    list-style:none;
   
     
}

.menu ul li:hover ul {
      position:absolute;
	display:block;
  
}
.menu ul li ul li a:hover {
	background:var(--menu);
    padding:0;
    
    
     
}
.menu ul li ul li a {
	background:var(--menu);
	text-align:left
     

     
}
.menu ul li   a{
    text-decoration: none;
    color: var(--yazi);
     display:block;
     padding:1rem;
   position:  relative;
       
}
.menu ul li a:first-child{
  border-left: 1px dotted rgb(207, 246, 253);
}
.menu ul li ul{
    display: none;
    
}

.header article {
    display: flex;
}
.header article p {
    display: block;
    padding:1rem 1rem;
}
  .footer{
    background-color:var(--footer);
    
    
}
.footer .alt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}
.footer .alt ul {
display: flex;
gap: 1rem;

}
.footer .alt ul a{
    text-decoration: none;
color: var(--yazi);

}
.footer .alt ul li{
list-style:none;
}